<section>
  <div class="page-header">
    <h1>Photos</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="photo in vm.photos"
       ui-sref="photos.view({ photoId: photo._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="photo.created | date:'mediumDate'"></span>
        by
        <span ng-if="photo.user" ng-bind="photo.user.displayName"></span>
        <span ng-if="!photo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="photo.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.photos.$resolved && !vm.photos.length">
    No Photos yet, why don't you <a ui-sref="photos.create">create one</a>?
  </div>
</section>
